{var $robots = noindex}

{block #content}

<h2 n:block=title>Sign in</h2>
<div class="content-box">
{control signInForm}
</div>
{/block}

{block head}
<style>
    table {
        margin: 0 auto;
        padding: 10px;
    }
</style>
{/block}